### Question 1: Write a Python program to count the number of elements in a list without using len.


- `sample input : `
    - `var = [10,11,12,13]`
- `sample output :`
    - `result : 4`

In [54]:
#answer
a=[10,11,12,13]
x=0
for i in a:
    x+=1
print(x)

4

### Question 2: Write a Python program to find the maximum and minimum values in a given list.

- `sample input : `
    - `var = [10,11,12,13,14,15]`
- `sample output :`
    - `result : max = 15 , min = 10`

In [55]:
#answer
a=[10,11,12,13,14,15]
x=max(a)
y=min(a)
print('max =',x)
print('min =',y)

max = 15
min = 10

### Question 3: Write a Python program to remove the first occurrence of a specified element from a list.

- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : [1,3,4,2,5]`

In [56]:
# answer
# using remove()
x= [1,2,3,4,2,5]
x.remove(2)
print(x)

[1, 3, 4, 2, 5]

### Question 4: Write a Python program to find the average of all the elements in a list.


- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : 2.833 `

In [57]:
#answer
z = [1,2,3,4,2,5]
avg = sum(z) / len(z)
print(avg)

2.8333333333333335

### Question 5: Write a Python program to check if a list is empty or not.


- `sample input : `
    - `var1 = [1,2]`
- `sample output :`
    - `result : Not empty`
    
- `sample input : `
    - `var1 = []`
- `sample output :`
    - `result :empty`

In [58]:
#answer
a=[1,2]
b=[]
if len(a)==0:
    print('empty')
else:
    print('not empty')
if len(b)==0:
    print('empty')
else:
    print('not empty')

not empty
empty

### Question 6:  Write a Python program to find the index of a specified element in a list..

- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : 3 index is 2`

In [64]:
#answer
a=[1,2,3,4,2,5]
x=a.index(3)
print('3 index is',x)

3 index is 2

### Question 7: Write a Python program to find which number is palindrome in below given list .

- `sample input : `
    - `var = [134,121,155]`
- `sample output :`
    - `result : 134 is not a palindome , 121 is a palindrome `

In [60]:
# answer
a=[134,121,155]
for i in a:
    if str(i)==str(i)[::-1]:
        print(i,'is a palindrome')
    else:
        print(i,'is not a palindrome')

134 is not a palindrome
121 is a palindrome
155 is not a palindrome

### Question 8: Write a Python program to find the common elements between two lists.

- `sample input : `
    - `var1 = [1,2,3,4,10]`
    - `var2 = [10,11,12,14]`
- `sample output :`
    - `result : 10`

In [61]:
#answer
a=[1,2,3,4,10]
b=[10,11,12,14]
for i in a:
    if i in b:
        print(i)

10

### Question 9: Write a Python program to remove the duplicates from a list

- `sample input : `
    - `var = [10,11,12,10,12,24]`
- `sample output :`
    - `result : [10,11,12,24]`

In [62]:
#answer
a=[10,11,12,10,12,24]
b=[]
for i in a:
    if i not in b:
        b.append(i)
print(b)

[10, 11, 12, 24]

### Question 10:  Write a Python program to sort a list of strings in Ascii Order [Ascending order]


- `sample input : `
    - `var = ['a' , 'c' , 'b']`
- `sample output :`
    - `result : ['a' , 'b' , 'c']`

In [63]:
#answer
a=['a' , 'c' , 'b']
a.sort()
print(a)

['a', 'b', 'c']